body {
margin: 0;
font-family: Arial;
}

.top-bar {
padding: 10px;
background: #2c3e50;
color: white;
display: flex;
justify-content: space-between;
}

.main {
display: flex;
height: calc(100vh - 50px);
}

#map {
flex: 3;
}

#infoCard {
flex: 1;
padding: 15px;
border-left: 1px solid #ccc;
background: #f9f9f9;
}

.login-box {
width: 300px;
margin: 100px auto;
}

button {
padding: 8px;
}